﻿@page
@model WebApplication9.Pages.WeatherModel
@{
}

<form method="post">
	<label asp-for="Region">Enter city name:</label>
    <input type="text" asp-for="Region" />
    <button type="submit">Get Weather</button>
</form>

@if (Model.WeatherInfo != null)
{
    <h2>Weather Information</h2>
    <p>Temperature: @Model.WeatherInfo.Temperature °C</p>
    <p>Feels Like: @Model.WeatherInfo.FeelsLike °C</p>
    <p>Min Temperature: @Model.WeatherInfo.MinTemperature °C</p>
    <p>Max Temperature: @Model.WeatherInfo.MaxTemperature °C</p>
    <p>Pressure: @Model.WeatherInfo.Pressure hPa</p>
    <p>Humidity: @Model.WeatherInfo.Humidity %</p>
}